---
import Prose from '../components/atoms/Prose.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Impressum" description="Impressum">
  <Prose>
    <h1>Impressum</h1>
    <p>
      MH Consulting<br />
      Osterbekstieg 12<br />
      22085 Hamburg<br />
    </p>
    <h2>Vertreten durch</h2>
    Moritz-Alexander Harraß<br />

    <h2>Registereintrag</h2>
    <p>
      Steuernummer: 43/087/05116 - keine Umsatzsteuer laut § 19 Abs. 1 UstG.<br />
      Finanzamt: Hamburg-Barmbek-Uhlenhorst<br />
      Registriert bei der Handelskammer Hamburg
    </p>
    <h2>Kontakt</h2>
    <p>
      +49 40 33399488 <br />
      contact@moritzharrass-consulting.de<br />
    </p>
    <h1>Disclaimer – rechtliche Hinweise</h1>
    <h2>§ 1 Warnhinweis zu Inhalten</h2>
    <p>
      Die kostenlosen und frei zugänglichen Inhalte dieser Webseite wurden mit größtmöglicher
      Sorgfalt erstellt. Der Anbieter dieser Webseite übernimmt jedoch keine Gewähr für die
      Richtigkeit und Aktualität der bereitgestellten kostenlosen und frei zugänglichen
      journalistischen Ratgeber und Nachrichten. Namentlich gekennzeichnete Beiträge geben die
      Meinung des jeweiligen Autors und nicht immer die Meinung des Anbieters wieder. Allein durch
      den Aufruf der kostenlosen und frei zugänglichen Inhalte kommt keinerlei
    </p>
    <p>
      Vertragsverhältnis zwischen dem Nutzer und dem Anbieter zustande, insoweit fehlt es am
      Rechtsbindungswillen des Anbieters.
    </p>
    <h2>§ 2 Externe Links</h2>
    <p>
      Diese Website enthält Verknüpfungen zu Websites Dritter ("externe Links"). Diese Websites
      unterliegen der Haftung der jeweiligen Betreiber. Der Anbieter hat bei der erstmaligen
      Verknüpfung der externen Links die fremden Inhalte daraufhin überprüft, ob etwaige
      Rechtsverstöße bestehen. Zu dem Zeitpunkt waren keine Rechtsverstöße ersichtlich. Der Anbieter
      hat keinerlei Einfluss auf die aktuelle und zukünftige Gestaltung und auf die Inhalte der
      verknüpften Seiten. Das Setzen von externen Links bedeutet nicht, dass sich der Anbieter die
      hinter dem Verweis oder Link liegenden Inhalte zu Eigen macht. Eine ständige Kontrolle der
      externen Links ist für den Anbieter ohne konkrete Hinweise auf Rechtsverstöße nicht zumutbar.
      Bei Kenntnis von Rechtsverstößen werden jedoch derartige externe Links unverzüglich gelöscht.
    </p>
    <h2>§ 3 Urheber- und Leistungsschutzrechte</h2>
    <p>
      Die auf dieser Website veröffentlichten Inhalte unterliegen dem deutschen Urheber- und
      Leistungsschutzrecht. Jede vom deutschen Urheber- und Leistungsschutzrecht nicht zugelassene
      Verwertung bedarf der vorherigen schriftlichen Zustimmung des Anbieters oder jeweiligen
      Rechteinhabers. Dies gilt insbesondere für Vervielfältigung, Bearbeitung, Übersetzung,
      Einspeicherung, Verarbeitung bzw. Wiedergabe von Inhalten in Datenbanken oder anderen
      elektronischen Medien und Systemen. Inhalte und Rechte Dritter sind dabei als solche
      gekennzeichnet. Die unerlaubte Vervielfältigung oder Weitergabe einzelner Inhalte oder
      kompletter Seiten ist nicht gestattet und strafbar. Lediglich die Herstellung von Kopien und
      Downloads für den persönlichen, privaten und nicht kommerziellen Gebrauch ist erlaubt. Die
      Darstellung dieser Website in fremden Frames ist nur mit schriftlicher Erlaubnis zulässig.
    </p>
    <h2>§ 4 Besondere Nutzungsbedingungen</h2>
    <p>
      Soweit besondere Bedingungen für einzelne Nutzungen dieser Website von den vorgenannten
      Paragraphen abweichen, wird an entsprechender Stelle ausdrücklich darauf hingewiesen. In
      diesem Falle gelten im jeweiligen Einzelfall die besonderen Nutzungsbedingungen.
    </p>
    <p>Quelle: <a href="https://juraforum.de">JuraForum.de</a></p>
  </Prose>
</Layout>
