---
import Layout from '../layouts/Layout.astro';
import OrderedList from '../components/molecules/OrderedList.astro';
import IconRow from '../components/molecules/IconRow.astro';
import Contact from '../components/molecules/Contact.astro';
import Stage from '../components/organisms/Stage.astro';
import Disturber from '../components/molecules/Disturber.astro';
import DisturberText from '../components/molecules/DisturberText.astro';

import StageImage from '../assets/stage_image.webp';
import DisturberImage from '../assets/disturber.jpeg';
import LogoRow from '../components/molecules/LogoRow.astro';
import emeaLogo from '../assets/emea_logo.png';
import fpLogo from '../assets/fp_logo.png';
import pharmaLogo from '../assets/pharma_logo.png';
import tacticsLogo from '../assets/tactics_logo.jpeg';
import projectJokerLogo from '../assets/project_joker_logo.jpeg';
---

<Layout title="MH Consulting" description="MH Consulting">
  <Stage
    animationTexts={['Strategien,', 'Projekte,', 'Prozesse,', 'Methoden,']}
    headline="die funktionieren – passgenau und flexibel"
    image={{
      src: StageImage,
      alt: 'Person arbeitet konzentriert an einem aufgeklappten Laptop auf dem Schoß. | MH Consulting',
    }}
  />
  <DisturberText statement="Ihr Partner im Online-Marketing und in digitalen Prozessen" />
  <Disturber
    image={{
      src: DisturberImage,
      alt: 'Porträt eines lächelnden jungen Mannes im Anzug vor neutralem Hintergrund. | MH Consulting',
    }}
    copy="“Individuelle Beratung und agile Projektunterstützung, exakt dort, wo Sie diese brauchen. Ich entwickle gemeinsam mit Ihnen kraftvolle Marketingstrategien, begleite Sie bei zukunftsweisenden digitalen Entscheidungen und führe Ihre Projekte zuverlässig und zielgerichtet zum Erfolg.“"
    link={{ href: '/#leistungen', text: 'Alle Leistungen' }}
  />
  <IconRow
    overline="Über mich"
    list={[
      {
        icon: 'facilitator',
        headline: 'Dozent',
        copy: 'Seit 2021 bin ich als freier Dozent für Online-Marketing und Digitales Management tätig und vermittle praxisnahes Wissen in diesen Bereichen. Durch den engen Austausch mit der Generation Z bleibe ich stets am Puls der neuesten Trends und digitalen Entwicklungen. In der Beratung und im Projektmanagement profitieren meine Kunden davon, dass ich komplexe Inhalte klar strukturiere und modernes Wissen effizient transferiere. So entstehen nachhaltige Lösungen, die sowohl strategisch fundiert als auch praxisnah und zukunftsorientiert sind.',
      },
      {
        icon: 'consulting',
        headline: 'Consultant',
        copy: 'Seit vielen Jahren unterstütze ich fest ein Unternehmen aus der Nahrungsergänzungsmittel-Branche und begleite es in seiner digitalen Strategie. Zusätzlich werde ich regelmäßig von Agenturen gebucht, wo ich in den Bereichen Projekt-Management, Produkt-Internationalisierung und Content-Management tätig bin. Dabei bringe ich meine Expertise im Online-Marketing gezielt ein, um Prozesse zu optimieren und nachhaltige Erfolge zu erzielen. Durch diese vielseitigen Einsätze kenne ich die Herausforderungen aus unterschiedlichen Perspektiven und kann Unternehmen sowohl strategisch als auch operativ wirkungsvoll unterstützen.',
      },
      {
        icon: 'founder',
        headline: 'Founder',
        copy: 'Meine Erfahrung im Fundraising reicht über viele Jahre zurück, in denen ich zahlreiche Organisationen bei der Entwicklung und Umsetzung erfolgreicher Strategien unterstützt habe. 2024 habe ich meine eigene Firma gegründet und mit 360° Fundraising Partner GmbH ein umfassendes Beratungsangebot geschaffen. Der Schwerpunkt liegt auf der strategischen Planung, dem Aufbau nachhaltiger Fundraising-Prozesse und der digitalen Optimierung des Fundraisings. Zusätzlich habe ich nach 2,5 Jahren an der Fundraising-Akademie meinen Abschluss erzielt, was mir fundiertes Fachwissen und praxisnahe Expertise für meine Arbeit vermittelt hat. Durch meine langjährige Erfahrung kenne ich die Herausforderungen in diesem Bereich genau und kann Organisationen gezielt dabei unterstützen, ihre Ziele effektiv zu erreichen.',
      },
    ]}
  />
  <LogoRow
    headline="Partner & Kunden"
    logos={[
      { src: emeaLogo, alt: 'EMEA Trade Logo' },
      { src: fpLogo, alt: 'Fundraising Partner Logo' },
      { src: pharmaLogo, alt: 'Kranich Pharma Logo' },
      { src: tacticsLogo, alt: 'BrandTactics Logo' },
      { src: projectJokerLogo, alt: 'Project Joker Logo' },
    ]}
  />
  <OrderedList
    overline="Leistungen"
    headline="Steigerung der Kundenzufriedenheit durch transformative Design Thinking."
    list={[
      {
        headline: 'Technische Beratung',
        copy: 'Durch meine fundierte Kenntnis neuer Technologien und Branchentrends biete ich Ihnen wertvolle Einblicke und strategische Beratung, damit Sie Ihrer Ziele erreichen.',
      },
      {
        headline: 'Prozessoptimierung',
        copy: 'Analyse und Verbesserung von Geschäftsprozessen zur Steigerung von Effizienz und Produktivität.',
      },
      {
        headline: 'Marktanalyse und Risikomanagement',
        copy: 'Durchführung von Marktstudien und Wettbewerbsanalysen, um Chancen und Risiken zu identifizieren – inklusive Identifikation, Bewertung und Minimierung von Unternehmensrisiken.',
      },
      {
        headline: 'Durchführung von Workshops',
        copy: 'Durchführung von internen Workshops oder Trainings zu Strategien und Lösungen, die Ergebnisse liefern, stehe ich gerne zur Verfügung.',
      },
    ]}
  />
  <Contact
    headline={`Sie möchten Hallo sagen<span class="text-mh-yellow">?</span>`}
    copy="Wenn Sie Unterstützung bei einem Marketingprojekt benötigen, Ihr Unternehmen weiter digitalisieren wollen oder einfach mehr über meinen Service erfahren möchten.<br/><br/> Ich freue mich darauf, mit Ihnen in Kontakt zu treten!"
    socials={[
      {
        icon: 'linkedin',
        url: 'https://www.linkedin.com/in/moritz-alexander-harra%C3%9F/',
        text: 'LinkedIn',
      },
      {
        icon: 'mail',
        url: 'mailto:contact@moritzharrass-consulting.de',
        text: 'Mail',
      },
    ]}
  />
</Layout>
