---
import Layout from '../layouts/Layout.astro';
import OrderedList from '../components/molecules/OrderedList.astro';
import IconRow from '../components/molecules/IconRow.astro';
import Contact from '../components/molecules/Contact.astro';
import Footer from '../components/atoms/Footer.astro';
import Stage from '../components/organisms/Stage.astro';
import Disturber from '../components/molecules/Disturber.astro';
import DisturberText from '../components/molecules/DisturberText.astro';

import StageImage from '../assets/stage_image.webp';
import DisturberImage from '../assets/disturber.jpeg';
import LogoRow from '../components/molecules/LogoRow.astro';
import emeaLogo from '../assets/emea_logo.png';
import fpLogo from '../assets/fp_logo.png';
import pharmaLogo from '../assets/pharma_logo.png';
import tacticsLogo from '../assets/tactics_logo.jpeg';
---

<Layout title="MH Consulting" description="MH Consulting">
  <DisturberText statement="Ihr Partner im Online-Marketing und in digitalen Prozessen" />
  <Stage
    animationTexts={['Strategien,', 'Analysen,', 'Optimierungen']}
    headline="die einfach funktionieren – passgenau und flexibel"
    image={{ src: StageImage, alt: 'This is an alt text' }}
  />
  <Disturber
    image={{ src: DisturberImage, alt: 'This is an alt text' }}
    copy="“Individuelle Beratung und agile Projektunterstützung, exakt dort, wo Sie diese brauchen. Ich entwickle gemeinsam mit Ihnen kraftvolle Marketingstrategien, begleite Sie bei zukunftsweisenden digitalen Entscheidungen und führe Ihre Projekte zuverlässig und zielgerichtet zum Erfolg.“"
    link={{ href: '/', text: 'Alle Leistungen' }}
  />
  <IconRow
    overline="Leistungen"
    headline="Steigerung der Kundenzufriedenheit durch transformative Design Thinking."
    list={[
      {
        icon: 'example_icon',
        headline: 'Dozent',
        copy: 'Beratung, welche zu Ihnen passt und keine unnötigen Kapazitäten in Ihrem Unternehmen frisst. Ich berate und unterstütze Sie gerne im Aufbau Ihrer Marketing-Strategie, der Entscheidung in einem digitalen Prozess und unterstütze gerne als externer Berater Ihre Kunden im Team als Freelancer.',
      },
      {
        icon: 'example_icon',
        headline: 'Consultant',
        copy: 'Beratung, welche zu Ihnen passt und keine unnötigen Kapazitäten in Ihrem Unternehmen frisst. Ich berate und unterstütze Sie gerne im Aufbau Ihrer Marketing-Strategie, der Entscheidung in einem digitalen Prozess.',
      },
      {
        icon: 'example_icon',
        headline: 'Founder',
        copy: 'Beratung, welche zu Ihnen passt und keine unnötigen Kapazitäten in Ihrem Unternehmen frisst. Ich berate und unterstütze Sie gerne im Aufbau Ihrer Marketing-Strategie, der Entscheidung in einem digitalen Prozess und unterstütze gerne als externer Berater Ihre Kunden im Team als Freelancer. Lorem ipsum dolor sit.',
      },
    ]}
  />
  <LogoRow
    headline="Partner & Kunden"
    logos={[
      { src: emeaLogo, alt: 'EMEA Trade Logo' },
      { src: fpLogo, alt: 'Fundraising Partner Logo' },
      { src: pharmaLogo, alt: 'Kranich Pharma Logo' },
      { src: tacticsLogo, alt: 'BrandTactics Logo' },
    ]}
  />
  <OrderedList
    overline="Leistungen"
    headline="Steigerung der Kundenzufriedenheit durch transformative Design Thinking."
    list={[
      {
        headline: 'Technische Beratung',
        copy: 'Durch meine fundierte Kenntnis neuer Technologien und Branchentrends biete ich Ihnen wertvolle Einblicke und strategische Beratung, damit Sie Ihrer Ziele erreichen.',
      },
      {
        headline: 'Prozessoptimierung',
        copy: 'Analyse und Verbesserung von Geschäftsprozessen zur Steigerung von Effizienz und Produktivität.',
      },
      {
        headline: 'Marktanalyse und Risikomanagement',
        copy: 'Durchführung von Marktstudien und Wettbewerbsanalysen, um Chancen und Risiken zu identifizieren – inklusive Identifikation, Bewertung und Minimierung von Unternehmensrisiken.',
      },
      {
        headline: 'Digitalisierung',
        copy: 'Beratung und Umsetzung von digitalen Transformationsprozessen und der Einführung neuer Technologien.',
      },
    ]}
  />
  <Contact
    headline={`&lt;Kontakt&gt; Sie möchten Hallo sagen<span class="text-mh-yellow">?</span>`}
    copy="Ich freue mich darauf, mit Ihnen in Kontakt zu treten! Wenn Sie Unterstützung bei einem Marketingprojekt benötigen, Ihr Unternehmen weiter digitalisieren wollen oder einfach mehr über meinen Service erfahren möchten."
    socials={[
      {
        icon: 'linkedin',
        url: 'https://www.linkedin.com/',
        text: 'LinkedIn',
      },
      {
        icon: 'mail',
        url: 'mailto:info@google.de',
        text: 'Mail',
      },
    ]}
  />
  <Footer
    links={[
      {
        url: '/privacy',
        text: 'Datenschutz',
      },
      {
        url: '/imprint',
        text: 'Impressum',
      },
    ]}
  />
</Layout>
