---
import { Icon } from 'astro-icon/components';
import Text from '../atoms/Text.astro';

interface Props {
  statement: string;
}

const { statement } = Astro.props;
---

<section
  class="bg-mh-yellow-extra-extra-light px-5 py-12 pb-40 lg:px-16 2xl:px-32 2xl:py-28 2xl:pb-64"
>
  <div class="max-w-wrapper mx-auto flex 2xl:gap-6">
    <Icon
      name="chevron"
      class="text-mh-yellow min-h-10 min-w-10 -rotate-90 2xl:min-h-16 2xl:min-w-16"
    />
    <Text
      Htmltag="h1"
      size="l"
      text={`${statement}<span class="text-mh-yellow">.</span>`}
      isBlack
    />
  </div>
</section>
