---
interface Props {
  id?: string;
  className?: string;
  variant: 'light' | 'primary' | 'primary-light';
  hasOverflow?: boolean;
  hasOverflow2xl?: boolean;
}

let backgroundVariantClass = '';
switch (Astro.props.variant) {
  case 'light':
    backgroundVariantClass = 'bg-white';
    break;
  case 'primary':
    backgroundVariantClass = 'bg-mh-yellow-light';
    break;
  case 'primary-light':
    backgroundVariantClass = 'bg-mh-yellow-extra-extra-light';
    break;
}

const { className, id, hasOverflow = false, hasOverflow2xl = false } = Astro.props;
const overflowClass = hasOverflow ? 'overflow-hidden' : '';
const overflow2xlClass = hasOverflow2xl ? '2xl:overflow-hidden' : '';
---

<section
  id={id}
  class:list={[
    'relative px-5 lg:px-16 2xl:px-36',
    overflowClass,
    overflow2xlClass,
    backgroundVariantClass,
  ]}
>
  <div class:list={['max-w-wrapper', 'mx-auto', 'mb-12', 'xl:mb-40', className]}>
    <slot />
  </div>
</section>
